* {
    margin: 0;
    padding: 0;
}

.placeName {
    font-size: 25px;
    font-weight: 800;
}

.placeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

}

.placeInfo h3 {
    font-size: 20px;
    font-weight: 700;
    width: auto;
    height: 100%;
    text-align: center;
    color: rgba(163, 200, 234, 0.8);
    display: flex;
    align-items: center;
}

#dateTime {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}