* {
    margin: 0;
    padding: 0;
}

.placeName {
    font-size: 17px;
    font-weight: 800;
}


.placeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

}

.placeInfo h3 {
    font-size: 15px;
    font-weight: 700;
    width: auto;
    height: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
}

#dateTime {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#todayInfo {
    background-color: rgba(59, 170, 195, 0.8);
    border-radius: 15px;
}

#remainFourDays {
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225 / var(--tw-bg-opacity))
        /* #cbd5e1 */
    ;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dayTwo {
    /* position: relative;
    bottom: 4.5%; */
    scale: 0.2;
    transition: ease;
}


.remove {
    font-weight: 800;
    color: rgba(255, 255, 255, 0.8);
}

#latLonBtn,
#searchCity {
    transition: transform 0.3s ease;
}

#latLonBtn:hover {
    transform: scale(1.06);
}

#searchCity:hover {
    transform: scale(1.06);
}

@keyframes fadeInOne {
    0% {
        opacity: 0;
        transform: translate(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.fade-in-one {
    animation: fadeInOne 1s ease-in-out;
}

@keyframes fadeInTwo {
    0% {
        opacity: 0;
        bottom: 15px;
    }

    100% {
        opacity: 1;
        bottom: 0;
    }
}

.fade-in-two {
    position: relative;
    animation: fadeInTwo 1s ease-in-out;
}

@keyframes fadeInThree {
    0% {
        opacity: 0;
        top: 15px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.fade-in-three {
    position: relative;
    animation: fadeInThree ease-in-out 1s;
}

header {
    width: 100%;
    height: 100px;
}


.inputSection {
    width: 50%;
    height: 100%;
}

.upperDiv {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dateDiv {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lowerDiv {
    width: 100%;
    height: 45%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: ; */
}

.tempDiv {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.humDiv {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* body, main{
    min-height: 100vh;
} */
@media(min-width: 769px) and (max-width: 1420px) {
    .pageHeading {
        display: none;
    }
}

@media(max-width: 768px) {
    body {

        width: 860px;
        min-height: 1200px;
        overflow-y: auto;
    }

    /* main{
        overflow-y: auto;
    } */
    .information {
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }

    .dayOneSection {
        width: 65%;
    }

    .otherDaySection {
        width: 720px;
        height: 400px;
    }

    #remainFourDays {
        height: 450px;
    }

    header {
        min-width: 100%;
    }

    footer {
        min-width: 100%;
        margin-top: auto;
    }

    .inputSection {
        width: 80%;
    }

    .pageHeading {
        display: none;
    }

    .drkBtnSec {
        display: none;
    }

    .upperDiv {
        flex-direction: column;
        height: auto;
    }

    .lowerDiv {
        flex-direction: row;
    }

    .tempDiv,
    .humDiv {
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 376px) {

    /* html{
        height: 1550px;
    } */
    body {
        height: 1550px;
    }

    main {
        min-height: 1100px;
    }

    .todayInfo {
        width: 550px;
        height: auto;
    }

    footer {
        height: 100px;
    }
}

#searchHistory {
    opacity: 0;
}